@media (max-width: 768px) {

html{
    height: 100%;
    width: 100%;
}
body{
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #121111;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 30%;
}

/*Index*/

content{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#logoini{
    width: 300px;
}
h1{
    color: white;
    font-family: sans-serif;
}

#Entrar{
    border: 0;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    width: 40vh;
    height: 7vh;
}

#Entrar:active{
    background-color: greenyellow;
}

#linha{
    margin: 0;
    padding: 0;
    width: 90%;
    border-top: green 1px solid;
    height: 40px;
    position: fixed;
    bottom: 3%;
}

/*Home*/

header{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30px;
    width: 95%;
    position: fixed;
    top: 3%;
}
#logop{
    width: 80px;
}

#perfil{
    width: 80px;
    background-color: gray;
    border-radius: 50px;
}

#barrap{
    width: 45vh;
    border-radius: 9px;
    height: 35px;
    background-color: #545454;
    border: 0;
    color: white;
    margin-top: 20px;
}

.seletor-container {
    overflow: hidden;
    width: 95%; /* Largura visível do seletor */
    margin-top: 5%;
  }
  
  .seletor {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .seletor::-webkit-scrollbar {
    display: none; /* Remover a barra de rolagem no Chrome, Safari, etc. */
  }
  
  .categorias {
    display: flex;
  }
  
  .option {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    opacity: 40%;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
  }

  #Flores{
    background-image: url("../Imagens/Flores.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #Ornamentais{
    background-image: url("../Imagens/Ornamentais.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #Frutiferas{
    background-image: url("../Imagens/Frutas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #ChasTemp{
    background-image: url("../Imagens/chastemp.jfif");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #hortaliças{
    background-image: url("../Imagens/Hortaliças.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #Suculentas{
    background-image: url("../Imagens/Suculentas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}