@media (max-width: 768px) {

html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #121111;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

/*Index*/

#indexcontent{
  margin-top: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out; 
}

#logoini{
    width: 300px;
    height: auto;
}

h1{
    color: white;
    font-family: sans-serif;
    font-size: 15vw;
}

#Entrar{
    border: 0;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    width: 40vh;
    height: 7vh;
}

#Entrar:active{
    background-color: greenyellow;
}

#linha{
    margin: 0;
    padding: 0;
    width: 90%;
    border-top: green 1px solid;
    height: 40px;
    position: fixed;
    bottom: 3%;
}

/*Home*/

#voltaS{
  display: none;
  transform: scaleX(-1);
  margin-left: 5px;
  margin-top: 2px;
}

.search-container {
  transition: background-color 0.3s, top 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  z-index: 3;
}

#input-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

#search{
  width: 93vw;
  border-radius: 9px;
  width: 95vw;
  height: 35px;
  background-color: #545454;
  border: 0;
  color: white;
  margin-top: 20px;
}

.results-container {
  background-color: #121111;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
}
.results-container p{
  color: white;
  font-family: sans-serif;
  padding-left: 3%;
}

#results {
  color: white;
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#results li{
  border-bottom: white solid 1px;
  padding: 4%;
  font-family: sans-serif;
}

#results li:active{
  background-color: #545454;
}

#perfilside{
  width: 70px;
  height: 70px;
  background-color: gray;
  border-radius: 50px;
}

#olau{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.sidebar{
  position: fixed;
  top: 0;
  right: -70vw;
  width: 70vw;
  height: 100%;
  background-color: #121111;
  color: white;
  transition: right 0.5s ease-in-out;
  box-shadow: 5px 5px 5px black;
}

#conteudoside{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#conteudoside ul{
  padding: 0;
  list-style-type: none;
  width: 70vw;
  border-top: 1px solid green;

}

#conteudoside ul li{
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#conteudoside ul a{
  text-decoration: none;
  color: white;
}



header{
    width: 95%;
    padding-top: 5vw;
    display: flex;
    justify-content: space-between;
    
}

#logop{
    width: 80px;
}

#perfil{
    width: 80px;
    background-color: gray;
    border-radius: 50px;
}



.seletor-container {
    overflow: hidden;
    width: 95%; /* Largura visível do seletor */
    margin-top: 3%;
  }
  
  .seletor {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .seletor::-webkit-scrollbar {
    display: none; /* Remover a barra de rolagem no Chrome, Safari, etc. */
  }
  
  .categorias {
    display: flex;
  }
  
  .option {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
  }

  .textop{
    color: rgba(255, 255, 255, 1);
    opacity: 100%;
  }

  #Flores{
    background-image: url("../images/Flores.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  #Ornamentais{
    background-image: url("../images/Ornamentais.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #Frutiferas{
    background-image: url("../images/Frutiferas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #ChasTemp{
    background-image: url("../images/chastemp.jfif");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #hortalicas{
    background-image: url("../images/Hortaliças.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #Suculentas{
    background-image: url("../images/Suculentas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #diario{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95vw;
    height: 61vh;
    text-align: center;
    background-image: url(https://drive.google.com/uc?id=134z_fVQ5bSO1LOVwTtSnzyyNd7Vj6q9o); 
    background-size: cover;
    color: white;
    border-radius: 5px;
  }

  #diariocontent{
    opacity: 100%;
    font-family: sans-serif;
    font-size: 12vw;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    
  }

  /*Lista de Planta*/
  .lista{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center; /* Alinhar itens horizontalmente no centro */
    align-items: center;
    
  }

  .item{
    width: 30vw; 
    height: 20vh;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container_item{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 30vw;
  }

  .container_item p{
    color: white;
    margin: 0;
    margin-top: 2vh;
    font-family: sans-serif;
    font-size: 4vw;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
  }

  /*Planta*/

  #conteudo{
    display: flex;
    flex-direction: column;
   
    
    color: white;
    font-family: sans-serif;
    background-color: #121111;
    border-radius: 30px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    
  }

  h2{
    font-size: 50px;
  }

  p{
    font-size: 25px;
  }

  #fotoplanta{
    z-index: 1;
    position: fixed;
    opacity: 50%;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;

  }

  #dificuldade{
    display: flex;
    width: 100%;
    
    align-items: center;
  }

  .bola{
    width: 17px;
    height: 17px;
    border-radius: 20px;
    border: 3px solid green;
  }

#NomeP{ 
  width: 100%;
  margin-left: 10px;
}

#NomeP p{
  color: white;
  font-family: sans-serif;
  font-size: 5.5vh;
  
 
}

#voltaP{
  z-index: 2;
  position: fixed;
  left: 0vw;
  transform: scaleX(-1);
}

#tudo{
  z-index: 2;
  margin-top: 25vh;
  width: 100%;
  height: 100vh;

}

}