<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Master.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Guia das Plantas</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/Logo_App_Branco.png')}}" id="logop">
        <div id="perfil"  onclick="Sidebar_Open()"></div>
    </header>
    <div class="sidebar" id="sidebar">
        <div id="volta">
            <img src="{{ url_for('static', filename='images/voltar.png')}}" width="60px" height="60px">
        </div>
        <div id="conteudoside">
            <div id="olau">
                <div id="perfilside"></div>
                <span>Olá Usuário</span>
            </div>    
            <nav>
            </nav>
        </div>
    </div>
    <content id="conteudoHome">
        <div  class="search-container" id="search-container">
            <div id = "input-container">
                <div id="voltaS" onclick="hideSearch()">
                    <img src="{{ url_for('static', filename='images/voltar.png')}}" width="50px" height="50px">
                </div>
                <input type="text" id="search" name="search" placeholder="Digite o Nome de Sua Planta" onclick="showSearch()" oninput="performSearch()">
            </div>
            <div class="results-container" id="results-container">
                <ul id="results"></ul>
            </div>
        </div>
        <div class="seletor-container">
            <div class="seletor">
                <div class="categorias">
                    <div class="option" id="Flores" onclick="Define_Categoria()">
                        <p class="DivText">Flores</p>
                    </div>
                    <div class="option" id="Ornamentais" onclick="Define_Categoria()">
                        <p class="DivText">Ornamentais</p>
                    </div>
                    <div class="option" id="Frutiferas" onclick="Define_Categoria()">
                        <p class="DivText">Frutíferas</p>
                    </div>
                    <div class="option" id="ChasTemp" onclick="Define_Categoria()">
                        <p class="DivText">Chás e Temperos</p>
                    </div>
                    <div class="option" id="hortalicas" onclick="Define_Categoria()">
                        <p class="DivText">Hortaliças</p>
                    </div>
                    <div class="option" id="Suculentas" onclick="Define_Categoria()">
                        <p class="DivText">Suculentas</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="diario" onclick="Vai_Planta_Sorteada(sorteada)">
            <div id="diariocontent" >
                <h2 class="textdir">Sugestão</h2>
                <p id="NomePlantaSorteada" class="textdir"></p>
            </div>
        </div>
    </content>
    <script src="../static/js/Home.js"></script>
    <script>
        window.onload = function() {
            obterPlantaAleatoria();
        };
    </script>
</body>
</html>