<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Master.css')}}">
    <title>PlantVitae</title>
</head>
<body>
    <content id="indexcontent">
        <img src="{{ url_for('static', filename='images/Logo_App_Branco.png')}}" id="logoini">
        <h1>PlantVitae</h1>
        <button id="Entrar" onclick="Entrar_Home()">Entrar</button>
    </content>
    <script src="../static/js/index.js"></script>
</body>
</html>
