<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Style/Master.css">
    <title>Document</title>
</head>
<body>
    <div id="fotoplanta">
    </div>
    <div id="voltaP">
        <img src="../Imagens/voltar.png" width="70px" height="70px">
    </div>
    <div id="tudo">
        <div id="NomeP">
            <p>Bambu-da-Sorte</p>
        </div>
        <div id="conteudo">
            <h2>Geral</h2>
            <div id="dificuldade">
                <p>Dificuldade:</p>
                <div class="bola"></div>
                <div class="bola"></div>
                <div class="bola"></div>
                <div class="bola"></div>
                <div class="bola"></div>
                <div class="bola"></div>
                <div class="bola"></div>
                <div class="bola"></div>
                <div class="bola"></div>
                <div class="bola"></div>
            </div>
            <p>Nome Científico:</p>
            <h2>Cuidados</h2>
            <p>Solo:</p>
            <p>Água:</p>
            <p>Adubação:</p>
            <h2>Dicas</h2>
        </div>
    </div>
    <script src="../Js/Planta.js"></script>
</body>
</html>