<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Master.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/Planta.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <div id="fotoplanta">
    </div>
    <div id="voltaP">
        <img src="{{ url_for('static', filename='images/voltar.png')}}" width="70px" height="70px" id="voltaButton" onclick="voltar(Json_Infos.Categoria)">
    </div>
    <div id="tudo">
        <div id="NomeP">
            <p id="nomePlanta"></p>
        </div>
        <div id="conteudo">
            <div class="partic">
                <h2 class="Tit">Geral</h2>
                <div class="itensPlanta" id="difi">
                    <p class="subT">Dificuldade:</p>
                </div>
                <div class="itensPlanta">
                    <p class="subT">Nome Científico: <p id="nomeC"></p></p>
                </div>
            </div>
            <div class="partic">
                <h2 class="Tit">Cuidados</h2>
                <div class="itensPlanta">
                    <p class="subT">Solo:<p id="solo"></p></p>
                </div>
                <div class="itensPlanta">
                    <p class="subT">Água:<p id="agua"></p>
                </div>
                <div class="itensPlanta">
                    <p class="subT">Adubação:<p id="adubo"></p>
                </div>
                <div class="itensPlanta">
                    <p class="subT">Iluminação:<p id="luz"></p></p>
                </div>
                <div class="itensPlanta">
                    <p class="subT">Ambiente:<p id="ambiente"></p></p>
                </div>
                <div class="itensPlanta">
                    <p class="subT">Doenças:
                        <ul id="doencas"></ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            Json_Infos = {{ Infos_da_Planta_json | tojson | safe }};
            Pega_Infos(Json_Infos);
            
        });
    </script>
</body>
</html>